# Ignore files and directories for development and testing
dist/*
*.tar.gz
*.whl
build/
*.egg-info/
__pycache__/
*.pyc
*.tmp
tmp/

# Ignore files and directories for experimentation
*.bak
*.swp
*.swo
*.pyo

# Ignore files and directories for debugging
*.pdb
*.pyd

# Ignore files and directories for testing
*_test.py
test_*.py
*.test
test

# Ignore IDE-specific files
.vscode/
.idea/